<%= form_for ([@post,@post.comments.build]) do |f| %>
	<p>
    <%= f.text_field :name, placeholder: "name" %>
	</p>
	<br>
	<p>
		<%= f.text_area :body, placeholder: "add a comment" %>
	</p>
	<br>
	<p>
		<%= f.submit %>
	</p>
<%end %>