<%= stylesheet_link_tag "debate_show.css" %>

<h1 style = "text-align: center;">Debate</h1>
<h6 style = "text-align: center;">Tim and Steve</h6>
<div class = "original-post">
  <div class="post-title">
   Tim Cook is lowkey runining my legecy
  </div>
  <p style = "font-size: 14px;">by steve</p>
  <p style = "font-size: 11px;">submitted an hour ago</p>
  <p class="show_body">Ever since Tim Cook took over the reigns of power at my beloved Apple, he has been steadily eroding my legacy. Its high time some kicks him to the curp before he completely ruins what I worked so hard to build. Enough is enough. I mean come on people what the fuck is up with the iPad Pro? there is nothing "Pro" about it. its just a big ipad with a pencil that no one wants or needs. And what about the new magic mouse? You have to flip the thing over to charge it, making it unuseable while its being charged. He seems to be more worried about social issues and wheather Apple is "diverise"  enough then actully making great products people want and love. Who cares about diveristy if your products suck!? The crazy ones have left Apple, and it is Tims fault.</p>
  <a style = 'font-size: 11px;' href="debate/show">edit</a> <a style = 'font-size: 11px;' href="debate/show">delete</a>
</div>

<div class = "response-post">
  <div class="post-title">
  Apple is a better company because of me, So Shut up Steve!
  </div>
  <p style = "font-size: 14px;">in reply to: Tim Cook is lowkey runining my legecy by steve</p>
  <p style = "font-size: 11px;">submitted an hour ago</p>

  <p class="show_body">You know nothing Steve Jobs! Since I took over, Apple revenue has jumped nearly 10% year over year. Our stock prices have never been higher, and we now give to many charities </p>
  <!-- <a style = 'font-size: 11px;' href="debate/show">edit</a> <a style = 'font-size: 11px;' href="debate/show">delete</a> -->

  <a style = 'font-size: 12px;' href="debate/show">Respond</a>
</div>
