.panel-default {
  position: relative;
  left: 100%;
  transform: translateX(-50%);

  padding: 10px;
  padding-top: 0;
  width: 600px;

  font-family: 'Arial';
  font-style: normal;
}

.post-title {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -.05em;
}
