.user-profile {
  /*position: relative;
  left: 90%;
  transform: translateX(-50%);*/
}

.edit-item-title {
  margin-top: 2px;
}

.profile-description {
  width: 70px;
  text-align: right;
  float: left;
}

.description-text {
  float: left;
  margin-left: .4em;
}
